.postItem {
  display: flex;
  align-items: center;
  padding: 15px;
  gap: 15px;
  border: 2px solid teal;
  margin-top: 15px;
  text-decoration: none;
  color: teal;

  .openLink {
    display: inline-block;
    padding: 4px 15px 4px 25px;
    border: 1px solid teal;
    border-radius: 4px;
    text-decoration: none;
    color: teal;
    min-width: 110px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;

    &:hover {
      background: teal;
      color: white;
    }
  }
}

.postContent {
  flex-grow: 1;

  b {
    display: block;
    margin-bottom: 6px;
  }
}

.postBtns {
  display: flex;
  gap: 6px;
}